<div class="header">
        <%= render "shared/header_top" %>
</div>
<div class="main-wrapper">  
      <div class="side-tools">
        <%= render "shared/side_tools"%>
</div>

<div class="main-item-index">
      
      <div class="plan-new">
      <h1>新規登録</h1>
    
    
      <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), local: true do |f|%>
        <%= devise_error_messages!%>
        <div class="plan-box">
        
            <%= f.label :氏名%>
         
          
            <%= f.text_field :name, class:"title", placeholder:"テキスト" %>
          
            <%= f.label :メールアドレス%>
          
            <%= f.email_field :email, class:"title", placeholder:"テキスト"%>
          
            <%= f.label :パスワード%>
            <i>(英数字8文字以上)</i>
          
            <%= f.password_field :password, class:"title", placeholder:"テキスト"%>
          
            <%= f.label :パスワード（確認用）%>
          
            <%= f.password_field :password_confirmation, class:"title", placeholder:"テキスト"%>
          
        
          <%= f.submit "登録完了", class: 'btn'%>
        </div>
      </div>
    <% end %>
  </div>
</div>

 </div>

