<div class="header">
        <%= render "shared/header_top" %>
      </div>  
    
     
      <div class="main-item-index">
           <div class="sarch-title">
        <h3> 売上の入力
            </h3>
             
          </div>
         
      <div class="plan-new">
        
        <%= form_with model: @manage, url:item_manages_path, local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        <div class="plan-box">
        <%= f.label :売上日の入力%>
        <%= f.date_field :sale_date, class:"title", placeholder:"テキスト" %>
        <%= f.label :売上の入力 %>
        <%= f.text_field :profit, class:"title", placeholder:"例）2500000" %>
        <%= f.submit "売上を作成する" ,class:"btn-r" %>
        </div>
        <% end %>

      </div>


      </div>

    