<div class="heading">
 
  <h1><%= link_to "Ad-Manage〜PDCA共有システム〜", "/" %></h1>
</div>
<div class="navbar">

  <ul class="nav-lists">
  
    <li>
      <% if user_signed_in? %>
      <%= "ようこそ！#{current_user.name}樣" %>
      <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <% end %>
    </li>
    <li>
      <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path  %>
      <% else %>
      <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    </li>
  </ul>
</div>