

   <div class="tool1">     
      <div class="create-item">
        <% if user_signed_in? %>
        <%= link_to "商品一覧", items_path %>
        <% else %>
        <%= link_to "新規登録", new_user_registration_path, method: :get %>
        <% end %>
      </div>
      <div class="create-item">
        <% if user_signed_in? %>
        <%= link_to "商材登録", new_item_path(@user) %>
         <% else %>
        <%= link_to "ログイン", new_user_session_path, method: :get %>
        <% end %>
      </div>
      
      <div class="create-item">
        <%= link_to "ホームへ戻る", "/", method: :get %>
      </div>
  </div>
  
  <div class="tools2">
  </div>
