
   <div class="item-tool">     
     
                <div class ="item-show">
                  
                  <%= image_tag @item.image.variant(resize:'250x250') if @item.image.attached? %>
                  <h3><%= @item.name %></h3>

                  <ul class="item-lists">
                    <p>＜商材詳細＞</p>
                    <li class="item-list"><%= @item.text %></li>
                    <p>＜希望小売価格＞</p>
                    <li class="item-list"><%= @item.price %>円</li>
                    <p>＜発売日＞</p>
                    <li class="item-list"><%= @item.relese_date %></li>
      
                  </ul>
                  
                </div>

                
              
      
  
  </div>
