

   <div class="tool1">     
      <div class="create-item">
        <%= link_to "商品一覧表", item_path(@items.ids), method: :get %>
      </div>
      <div class="create-item">
        <%= link_to "商材登録", new_item_path(@user), method: :get %>
      </div>
      <div class="create-item">
        <%= link_to "広告媒体登録", "/", method: :get %>
      </div>
      <div class="create-item">
        <%= link_to "広告出稿状況", "/", method: :get %>
      </div>
      <div class="create-item">
        <%= link_to "ユーザー情報", "/", method: :get %>
      </div>
  </div>
  
  <div class="tools2">
  </div>
