<div class="header">
        <%= render "shared/header_top" %>
</div>
<div class="main-wrapper">  
      

<div class="main-item-index">
      <h1>ログイン</h1>
      <div class="plan-new">
      
    </div>
    
      <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
        <%= devise_error_messages!%>
        <div class="plan-box">
            <%= f.label :メールアドレス%>
          
            <%= f.email_field :email, class:"title", placeholder:"テキスト" %>
          
              <%= f.label :パスワード%>
              <i>(英数字8文字以上)</i>
            
              <%= f.password_field :password, class:"title", placeholder:"テキスト" %>
           
            <%= f.submit "ログイン", class: 'btn'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
