<header>
      <div class="header">
        <%= render "shared/header_top" %>
      </div>  
    </div>  
    
      
      <div class="main-item-index">

      <div class="sarch-title">
      <h3>商材一覧</h3>

      <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "商材を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
      <% end %>

      </div>
      
        <div class="container">
          <div class="item-index">
            <table>
            
            
            <tbody>
              <% @items.each.with_index(1) do |item, i| %>
                    <td><%= item.id %></td>
                    <td><%= item.name %></td>
                    <td><%= image_tag item.image.variant(resize:'100x100') if item.image.attached? %></td>
                    <td><%= link_to '広告プラン作成', new_item_plan_path(item.id), class: 'btn-a' %></td>
                    <td><%= link_to '広告出稿状況詳細', item_plan_path(item.id, @plans.ids), method: :get, class: 'btn-a' if @plans.present? %></td>
                    <td><%= link_to '売上入力', new_item_manage_path(item.id), method: :get, class: 'btn-b' %></td>
                    <td><%= link_to "商材登録", new_item_path(@user), method: :get, class: 'btn' %></td>
                    <td><%= link_to '商材詳細', item_path(item.id), method: :get, class: 'btn' %></td>
                    <td><%= link_to '商材削除', item_path(item.id), method: :delete, class: 'btn' %></td>
                  </tr>  
              <% end %>
               </tbody>
            </table>  
          </div>
        </div>    
      </div>

   