<header>
      <div class="header">
        <%= render "shared/header_top" %>
      </div>  
    </div>  
    <div class="main-wrapper">  
      <div class="side-tools">
        <%= render "shared/side_tools"%>
      </div>

      
      <div class="main-item-index">
      <h3>商材一覧</h3>
        <div class="container">
          <div class="item-index">
            <table border="1" width="100%" >
            <thead>
              <tr>
                <th width="5%">No</th>
                <th width="15.4%">商材画像</th>
                <th width="15%">商材名称</th>
                <th width="33%">商材詳細</th>
                <th width="10%">希望小売価格</th>
                <th width="10%">発売日</th>
                <th width="10%">担当者名</th>
                <th width="10%">Link</th>
              </th>  
            </thead>
            <tbody>
              <% @items.each.with_index(1) do |item, i| %>
                 <tr>   
                    <td width="5%"><%= link_to item.id, new_item_plan_path(item.id) %></td>
                    <td width="15%"><%= image_tag item.image.variant(resize:'100x100') if item.image.attached? %></td>
                    <td width="15%"><%= link_to item.name, item_path(item.id), method: :get %></td>
                    <td width="33%"><%= item.text %></td>
                    <td width="10%"><%= item.price %></td>
                    <td width="10%"><%= item.relese_date %></td>
                    <td width="10%"><%= item.user.name %></td>
                    <td width="15%"><%= link_to '詳細', item_plan_path(item.id, @plans.ids), method: :get %></td>
                  </tr>  
              <% end %>
            </table>  
          </div>
        </div>    
      </div>

    </div>