    <header>
      <div class="header">
        <%= render "shared/header_top" %>
      </div>  
    </div>  
    <div class="main-wrapper">  
      <div class="side-tools">
        <%= render "shared/side_tools"%>
      </div>

      <div class="main-manage">
        <div class='register-page' id='register-page'>
  <div class='register-page__inner clearfix'>
    <div class='register-page__inner--left register-page__header'>
      <h2>商材登録</h2>
    </div>
    <div class='register-page__inner--right user-form'>
      <%= form_with(model: @item, url: items_path, local: true) do |f|%>
        <%= render 'error_messages', model: @item %>
        
        <div class='field'>

        <div class="img-upload">
        <div class="click-upload">
          <div class='field-label'>
                <%= f.label :商材画像%>
          </div>
            <%= f.file_field :image, id:"item-image" %>
          </div>
        </div>
          <div class='field-label'>
            <%= f.label :商材名%>
          </div>
          <div class='field-input'>
            <%= f.text_field :name, autofocus: true%>
          </div>
          <div class='field-label'>
            <%= f.label :商材詳細%>
          </div>
          <div class='field-input'>
            <%= f.text_field :text, autofocus: true%>
          </div>
          <div class='field-label'>
            <%= f.label :希望小売価格%>
          </div>
          <div class='field-input'>
            <%= f.text_field :price, autofocus: true%>
          </div>
          <div class='field-label'>
            <%= f.label :発売日%>
          </div>
          <div class='field-input'>
            <%= f.date_field :relese_date, autofocus: true%>
          </div>
        </div>
       
        <div class='actions'>
          <%= f.submit "商材登録完了", class: 'btn'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
    </div>
  

