 <div class="header">
        <%= render "shared/header_top" %>
</div>

     

<div class="main-item-index">
      <div class="sarch-title">
        <h3> 商材登録
        </h3>
      </div>
    
      <%= form_with(model: @item, url: items_path, local: true) do |f|%>
        <%= render 'error_messages', model: @item %>
        <div class="plan-box">
        
                <%= f.label :商材画像%>
          
            <%= f.file_field :image, id:"item-image", class:"title"  %>
         
         
            <%= f.label :商材名%>
          
            <%= f.text_field :name, class:"title" %>
          
          
            <%= f.label :商材詳細%>
          
            <%= f.text_field :text, class:"title" %>
          
            <%= f.label :希望小売価格%>
          
            <%= f.text_field :price, class:"title" %>
          
            <%= f.label :発売日%>
          
            <%= f.date_field :relese_date, class:"title" %>
          
        
       
        
          <%= f.submit "商材登録完了", class: 'btn-r'%>
        </div>
      </div>
    <% end %>
  </div>
</div>

 
  

