<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Ad-Manage</title>
  </head>
  <body>
    <header>
      <div class="header">
        <%= render "shared/header_top" %>
      </div>  
    </div>  
    <div class="main-wrapper">  
      <div class="side-tools">
        <%= render "shared/side_tools"%>
      </div>

      
      <div class="main-item-index">
      <h3>商材一覧</h3>
        <div class="container">
          <div class="item-index">
            <table border="1">
            <thead>
              <th>
                <th>商材No</th>
                <th>商材画像</th>
                <th>商材名称</th>
                <th>商材詳細</th>
                <th>希望小売価格</th>
                <th>発売日</th>
                <th>担当者名</th>
                <th></th>
              </th>  
            </thead>
            <tbody>
              <% @items.each.with_index(1) do |item, i| %>
                 <tr>   
                    <td><%= i %></td>
                    <td><%= item.id %></td>
                    <td><%= image_tag item.image.variant(resize:'200x200') if item.image.attached? %></td>
                    <td><%= item.name %></td>
                    <td><%= item.text %></td>
                    <td><%= item.price %></td>
                    <td><%= item.relese_date %></td>
                    <td><%= item.user.name %></td>
                    <td><%= link_to("詳細", "/items/#{item.id}") %></td>
                  </tr>  
              <% end %>
            </table>  
          </div>
        </div>    
      </div>

    </div>
  </body>  
</html>