
    <header>
      <div class="header">
        <%= render "shared/header_top" %>
      </div>  
    </div>  
    <div class="main-wrapper">  
      <div class="side-tools">
        <%= render "shared/side_tools"%>
      </div>

      <h11 class="name">
      <%= @item.name %>
      </h2>
     
      <%= @item.price %>
      <%= @plan.why %>
      <%= @plan.how_much %>
      


    </div>
