<div class="header">
        <%= render "shared/header_top" %>
      </div>  
      
      <div class="main-item-index">

      <div class="sarch-title">
        <h3> 広告出稿プラン編集
            </h3>
          </div>
      
      <div class="plan-new">
        
        <%= form_with model: @plan, url:item_plans_path, local: true do |f| %>
        <div class="plan-box">
        <%= f.label :広告出稿時期%>
        <%= f.date_field :when, class:"title", placeholder:"テキスト" %>
        <%= f.label :出稿場所%>
        <%= f.text_field :where, class:"title", placeholder:"例）東京都中野区" %>
        <%= f.label :ターゲット層%>
        <%= f.collection_select(:target_id, Target.all, :name, :name, {}, {class:"target-select"}) %>
        <%= f.label :広告媒体%>
        <%= f.collection_select(:media_id, Media.all, :name, :name, {}, {class:"media-select"}) %>
        <%= f.label :広告費用（概算）%>
        <%= f.text_field :how_much, class:"title", placeholder:"例）2500000" %>
        <%= f.submit "プランを修正する" ,class:"btn-r" %>
        </div>
        <% end %>

      </div>


      </div>

    </div>