<header>
      <div class="header">
        <%= render "shared/header_top" %>
      </div>  
    </div>  
    <div class="main-wrapper">  
      <div class="side-tools">
        <%= render "shared/side_tools"%>
      </div>

      <h11 class="name">
      <%= @item.name %>
      </h2>
      <div class='item-img-content'>
      <%= image_tag @item.image ,class:"item-box-img" %>
      
      <%= @plan.who %>
      <%= @plan.how_much %>

    </div>