    <div class="header">
        <%= render "shared/header_top" %>
      </div>  
    </div>  
    <div class="plan-info">  
      
      <%= render "shared/side_tools" %>
        
      <div class="plan-tool"> 
      <h4>プラン詳細</h4>
                
              

              <div class="chart-sheet">
              
                
                <%= column_chart @plan_sum.group(:media_id).sum(:how_much), width: "500px", height: "300px" %>

                <div class="sall-data">
                  <table >
                    <tbody>
                      <tr>
                        <th class="detail-item">ROAS（広告費用対効果）</th>
                        <td class="detail-value"><%= 80 %></td>
                      </tr>
                      <tr>
                        <th class="detail-item">「<%= @item.name %>」総広告費用</th>
                        <td class="detail-value"><%= @total_price %>円</td>
                      </tr>
                      <tr>
                        <th class="detail-item">「<%= @item.name %>」総売上</th>
                        <td class="detail-value"><%= 1000000 %>円</td>
                      </tr>
                    </tbody>
                  </table>
                  <a>※ROAS=広告経由の売上÷広告費用（%）</a>
                </div>
              </div>  
              <div class="plan-show">
                   <table border="1" >
                    <thead>
                        <th>出稿日</th>
                        <th>出稿エリア</th>
                        <th>ターゲット層</th>
                        <th>出稿媒体</th>
                        <th>広告出稿量</th>
                        <th>広告出稿料金</th>
                        <th>プラン編集</th>
                        <th>プラン削除</th>
                      </tr>  
                    </thead>
                    
                    <tbody>
                      <% @plan_sum.each do |plan| %>
                            <td><%= plan.when %></td>
                            <td><%= plan.where %></td>
                            <td><%= plan.target_id %></td>
                            <td><%= plan.media_id %></td>
                            <td><%= plan.how_many %></td>
                            <td><%= plan.how_much %>円</td>
                            <td><%= link_to '編集', edit_item_plan_path(@item, @plan), method: :get %></td>
                            <td><%= link_to '削除', item_plan_path(@item, @plan), method: :delete %></td>
                          </tr>  
                      <% end %>
                      </tbody>
                    </table>  

                  
                </div>  
      </div>
        
    </div>    

      
      
       
         
  
      

