    <div class="header">
        <%= render "shared/header_top" %>
      </div>  
    </div>  
    <div class="plan-info">  
      
      <%= render "shared/side_tools" %>
        
      <div class="plan-tool"> 
      <h4>プラン詳細</h4>
                <div class="plan-show">
                   <table border="1" >
                    <thead>
                        <th>出稿日</th>
                        <th>出稿エリア</th>
                        <th>ターゲット層</th>
                        <th>出稿媒体</th>
                        <th>広告出稿量</th>
                        <th>広告出稿料金</th>
                      </tr>  
                    </thead>
                    
                    <tbody>
                      <% @plan_sum.each do |plan| %>
                            <td><%= plan.when %></td>
                            <td><%= plan.where %></td>
                            <td><%= plan.target_id %></td>
                            <td><%= plan.media_id %></td>
                            <td><%= plan.how_many %></td>
                            <td><%= plan.how_much %>円</td>
                          </tr>  
                      <% end %>
                      </tbody>
                    </table>  

                  
                </div>  
              

              <div class="chart-sheet">
              
                <%= @total_price%>
                <%= column_chart @plan_sum.group(:media_id).sum(:how_much), width: "500px", height: "300px" %>

                <%= pie_chart @plan_sum.group(:target_id).sum(:how_much), width: "500px", height: "300px" %>
              </div>  
      </div>
        
    </div>    

      
      
       
         
  
      

