    <div class="header">
        <%= render "shared/header_top" %>
      </div>  
    </div>  
    <div class="plan-info">  
      
      <%= render "shared/side_tools" %>
        
      <div class="plan-tool"> 
      <h4>「<%= @item.name %>」広告出稿状況</h4>
                
              

              <div class="chart-sheet">
              
              <div class="chart1">  
                <%= column_chart @plan_sum.group(:media_id).sum(:how_much), title: "広告媒体×広告費用" %>
              </div>

              <div class="chart2">  
                <%= pie_chart @plan_sum.group(:target_id).sum(:how_much), title: "広告ターゲット×広告費用" %>
              </div>
                
              </div>  
              <div class="plan-show">
                <div class="plan-all">
                  <h2>広告出稿プラン一覧</h2>
                   <table >
                    <tbody>
                      <% @plan_sum.each do |plan| %>
                            <td class="plan-all"><%= plan.when %></td>
                            <td class="plan-all"><%= plan.where %></td>
                            <td class="plan-all"><%= plan.target_id %></td>
                            <td class="plan-all"><%= plan.media_id %></td>
                            <td class="plan-all"><%= plan.how_much %>円</td>
                            <td class="plan-all"><%= link_to '編集', edit_item_plan_path(@item.id, plan.id), method: :get %></td>
                            <td class="plan-all"><%= link_to '削除', item_plan_path(@item.id, plan.id), method: :delete %></td>
                          </tr>  
                      <% end %>
                      </tbody>
                    </table>  
                  </div>
                  <div class="sale-data">
                   <h2>広告費用対効果</h2>
                  <table >
                    <tbody>
                      <tr>
                        <th class="detail-item">ROAS</th>
                        <td class="detail-value"><%= @roas %> %</td>
                      </tr>
                      <tr>
                        <th class="detail-item">総広告費用</th>
                        <td class="detail-value"><%= @total_price.to_s(:delimited) %> 円</td>
                      </tr>
                      <tr>
                        <th class="detail-item">広告経由の売上</th>
                        <td class="detail-value"><%= @sales.to_s(:delimited) %> 円</td>
                      </tr>
                    </tbody>
                  </table>
                  <a>※ROAS（広告費用対効果）=広告経由の売上÷広告費用（%）</a>
                </div>
              </div>  
                
      </div>
        
    </div>    

      
      
       
         
  
      

